@charset "UTF-8";
@use ".auto/all.auto";
@use ".auto/abstracts.auto" as abs;
//@use ".auto/base.auto" as base;
//@use ".auto/components.auto" as comp;
@use "./layout/header";
@use "./layout/hero-section";
.main {
    margin-top: abs.rem(100);
    width: 100%;
}

.section {
    width: 100%;
}

.section__inner {
    width: 100%;
    padding: abs.rem(50px) 4%;
}


/**
* Swiper Start
 */
.swiper {
    width: 100%;
    height: 300px;
    position: relative;
}

.swiper-wrapper.swiper-wrapper1,
.swiper-wrapper.swiper-wrapper2 {
    z-index: 100;
    width: 200px;
    height: 100px;
    position: absolute !important;
    top: 0;
}
.swiper-wrapper.swiper-wrapper1 {
    left: 0;
}
.swiper-wrapper.swiper-wrapper2 {
    right: 0;
}
/**
* Swiper End
 */
