@use "../.auto/abstracts.auto" as abs;

.header {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100px;
    background: abs.$color-bg;
    z-index: abs.$z-sticky;
    border-bottom: abs.$border solid abs.$color-border;
}

.header__toggle-close,
.header__toggle-open {
    aspect-ratio: 1/1;
    width: 50px;
}

.header-modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

.header.open .header-modal {
    display: block;
}

.header-nav {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: auto;
}


.header-nav-wrapper {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    background: abs.$color-bg;
    z-index: abs.$z-sticky;
    overflow: hidden;

    &.open {
        display: block;
    }
}


.header-nav__list {
}

.header-nav__item {
}

.header-nav__parent,
.header-nav__submenu-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    display: block;
    font-family: abs.$font-family-heading;
    font-size: abs.$fs-lg;
    font-weight: 600;
    text-transform: uppercase;
    line-height: abs.rem(28);
    padding: abs.rem(8);
    margin: abs.rem(8);
}

.header-nav__submenu-link {
    display: block;
    line-height: abs.rem(28);
    padding: abs.rem(8);
    margin: abs.rem(8) 0;
}

.header-nav__link {
}

.header-nav__toggle {
    aspect-ratio: 1/1;
    width: abs.rem(44);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    margin: abs.rem(8);
}

.header-nav__toggle-icon {
    display: block;
    aspect-ratio: 1/1;
    height: 25px;
}

.header-nav__toggle-icon {
    transform: rotate(0deg);
    rotate: 0deg;
    transform-origin: center;
    transition: transform abs.$duration-default ease,
    rotate abs.$duration-default ease;
}

.header-nav__toggle[aria-expanded="true"] .header-nav__toggle-icon {
    //transform: rotate(90deg);
    rotate: 180deg;
}

.header-nav__submenu {
    padding-left: abs.rem(16);
}
.header-nav__submenu-link {
    font-family: abs.$font-family-heading;
    font-weight: abs.$font-weight-regular;
    text-transform: uppercase;
    margin: abs.rem(8);
}

.header-nav__submenu--level2 .header-nav__submenu-link {
    text-transform: capitalize;
}
