@use "../.auto/abstracts.auto" as abs;

.accordion {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
}

.accordion__item {
    width: 100%;
}

.accordion__header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 48px;
    height: 100px;
    //padding: abs.rem(16) abs.rem(32);
    position: relative;

    background: abs.$color-bg-muted;
    border: abs.$border solid abs.$color-border;
}

.accordion__header-button {
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}

.accordion__content-inner {
   width: 100%;
    border: abs.$border solid abs.$color-border;
    padding: abs.rem(16) abs.rem(32);

    border-top: none;
}
[data-accordion-content] {
    overflow: hidden;
    //opacity: 0;
    max-height: 0;
    pointer-events: none;

    /* replace abs.$duration-med with your actual variable/value */
    transition: max-height abs.$duration-default ease-in-out,
    opacity abs.$duration-med ease-in-out,
;
}

[data-accordion-content][aria-hidden="false"] {
    opacity: 1;
    height: fit-content;
    max-height: var(--acc-max, 0); /* set via JS to scrollHeight */
    //max-height: 500px;
    pointer-events: auto;
}

@media (prefers-reduced-motion: reduce) {
    [data-accordion-content] {
        transition: none;
    }
}

.accordion__content .accordion {
    width: 100%;
}


.acc-no-trans [data-accordion-content] { transition: none !important; }
